b {
    color: #58ca7a;
}
b {
    color: #ca5888;
}
b {
    color: #ce6591;
}
b {
    color: #d483a5;
}
b {
    color: #aed1bb;
}
b {
    color: #95cfff;
}
b {
    color: #3be2a2;
}
b {
    color: #38dd8a;
}
b {
    color: #02eb8a;
}
